
.contenedor {
    width: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
}


a {
    text-decoration: none;
}

.volver {
    text-align: left;
}

.datos {
    text-align: right;
}


.donde {
    display: flex;

}


#nose {
    font-size: 40px;
}

.form {
    size: 50px;
}

table {
    font-size: 50px;
}


section p {
    font-style: italic;
}